
<div class="container">
    <div class="row col-md-6 col-md-offset-3">
    <h1>Register wallet</h1> 
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label>Id</label>
            <input formControlName="id" type="text" class="form-control">
        </div >
        <div class="form-group">
           <label>Name</label>
            <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control">
        </div>
        <br>
        <button pButton type="button" label="Register" (click)="addUser()" ></button>
        <button (click)="loadReset()" pButton type="button" label="Reset" class="p-button-secondary"></button>
    </form>
    <div *ngIf="newWallet" ><h4> Your wallet is  {{getWallet}} created</h4></div>
    {{registrationForm.value | json}} </div>
</div>
<p-toast position="top-right"></p-toast>